.Button {
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;

  font-weight: 700;
  font-size: var(--SMALL);
  color: var(--C1);

  border-radius: 100px;
  background-color: var(--C2);
  box-shadow: var(--SHADOW);
  text-decoration: none;
}
.MenuButton {
  width: 46px;
  height: 46px;
  display: grid;
  place-items: center;

  border-radius: var(--BR-3);
}
.SpecialButton {
  width: fit-content;
  height: fit-content;
  padding: 5px;

  border-radius: var(--BR-2);
  background-color: var(--C2-B);
}
.SpecialButton > svg {
  fill: var(--C2);
  pointer-events: none;
}

.Google {
  width: 100%;
  height: 40px;
  display: grid;
  place-items: center;
  position: relative;

  font-weight: 700;
  font-size: var(--SMALL);
  color: var(--C3-80);

  border-radius: 100px;
  background-color: var(--GOOGLE);
  box-shadow: var(--SHADOW);
  text-decoration: none;
}
.Google i {
  width: fit-content;
  height: fit-content;
  margin: auto 8px;
  display: grid;
  place-items: center;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.Google i svg {
  width: 26px;
  height: 26px;
}

@media (min-width: 768px) {
  .Button {
    height: 50px;
    font-size: var(--MIDDLE);
  }

  .SpecialButton {
    width: fit-content;
    height: fit-content;
  }
  .SpecialButton > svg {
    width: 26px;
    height: 26px;
  }

  .MenuButton {
    width: 66px;
    height: 66px;
  }
  .MenuButton svg {
    width: 56px;
    height: 56px;
  }

  .Google {
    height: 50px;
    
    font-size: var(--MIDDLE);
  }
  .Google i svg {
    width: 36px;
    height: 36px;
  }
}
