.Card {
  min-width: 150px;
  min-height: 250px;
  width: 100%;
  height: 100%;
  padding: 20px;

  border-radius: var(--BR-3);
  box-shadow: var(--SHADOW);
  overflow: hidden;
  text-decoration: none;
}
.Card article{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card header,
.Card footer {
  width: 100%;
  height: auto;
}
.Card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card footer h2 {
  font-size: var(--SMALL);
  color: var(--C1);
  font-weight: 700;
  margin-bottom: 4px;
}
.Card footer p {
  color: var(--C1-70);
  font-size: var(--SMALLY);
  font-weight: 700;
}

.TrailerCard {
  min-width: 250px;
  min-height: 150px;
  padding: 20px;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;

  border-radius: var(--BR-3);
  background: var(--GRADIENT),
    url('https://assets.adnradio.cl/2023/03/tr%C3%A1iler-final-super-mario-bros-la-pel%C3%ADcula.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: var(--SHADOW);
}
.TrailerCard h2 {
  width: 100%;
  color: var(--C1);
  font-size: var(--SMALL);
  font-weight: 700;
}

.ArtistCard {
  min-width: 100px;
  min-height: 150px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: var(--GRADIENT),
  url('https://cloudfront-us-east-1.images.arcpublishing.com/copesa/ZPEQXUEQKFELNAMFUTACTVA6NY.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--BR-3);
  box-shadow: var(--SHADOW);
}
.ArtistCard main {
  width: 100%;
  height: fit-content;
}
.ArtistCard main h2 {
  font-size: var(--SMALL);
  color: var(--C1);
  font-weight: 700;
}
.ArtistCard main p {
  color: var(--C1-70);
  font-size: var(--SMALLY);
  font-weight: 700;
}