.Header {
  width: 100%;
  z-index: 2;
  position: sticky;
  top: 0px;

  background-color: var(--C1);
}
.Header nav:nth-child(1) {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hidden nav:nth-child(1) button:first-child {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.Header nav:nth-child(1) span {
  font-size: var(--SMALL);
  font-weight: 700;
}

@media (min-width: 768px) {
  .Header nav:nth-child(1) span {
    font-size: var(--MIDDLE);
  }
  .Header nav:nth-child(1) button svg {
    width: 26px;
    height: 26px;
  }
}
