.Searcher {
  width: calc(100% - 40px);
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;

  border: 2px solid var(--C2);
  border-radius: 100px;
  box-shadow: var(--SHADOW);
  transition: all 0.5 ease-in;
}
.Searcher:hover {
  box-shadow: 0 4px 8px var(--C2-B);
}
.Searcher > svg {
  fill: var(--C2);
}
.Searcher > input {
  width: 100%;
  height: 26px;
  padding-left: 20px;
  color: var(--C3);
  border-left: 2px solid var(--C2);
}
.Searcher > input::placeholder {
  color: var(--C3-50);
}
.Searcher > button {
  display: grid;
  place-items: center;
}
.Searcher > button svg {
  fill: var(--C2);
}

.FormInput {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}
.FormInput svg {
  fill: var(--C3-50);
}
.FormInput i {
  width: 20px;
  height: fit-content;
}
.FormInput input {
  width: 100%;
  height: 100%;
  color: inherit;
  font-weight: 500;

  color: var(--C3-50);
  border-bottom: 1px solid var(--C3-50);
}
.FormInput i:nth-child(3) {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  color: var(--C3-50);
  background-color: var(--C1);
}

@media (min-width: 768px) {
  .Searcher {
    width: 60%;
    height: 70px;
  }
  .Searcher > svg {
    width: 36px;
    height: 36px;
  }
  .Searcher > input {
    height: 36px;
    font-size: var(--MIDDLE);
  }

  .FormInput {
    height: 60px;
  }
  .FormInput input {
    font-size: var(--MIDDLE);
  }
  .FormInput i {
    width: 30px;
  }
  .FormInput i svg {
    width: 30px;
    height: 30px;
  }
  .FormInput i:nth-child(3) svg {
    width: 30px;
    height: 30px;
  }
}
