.Logo {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--C1);
  font-size: var(--MIDDLE);
  font-weight: 700;

  background-color: var(--C2);
  border-radius: var(--BR-1);
  box-shadow: var(--SHADOW);
}
.Logo > svg {
  width: 26px;
  height: 26px;
}

@media (min-width: 768px) {
  .Logo {
    font-size: 46px;
  }
  .Logo > svg {
    width: 46px;
    height: 46px;
  }
}
