.Buttons {
  width: 100%;
  height: fit-content;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.Buttons button svg {
  transition: all 0.5s var(--TRANSITION-2);
}
.Buttons button {
  transition: all 0.5s var(--TRANSITION-2);
}
.Buttons button:first-child {
  transform: scale(1.75, 2);
}
.Buttons button:first-child[disabled] {
  transform: scale(1.5, 1.75);
  filter: grayscale(80%);
}
.Buttons button:first-child[disabled] svg {
  transform: translateX(-20%);
}
.Buttons button:last-child {
  transform: scale(1.75, 2) rotateY(180deg);
}
.Buttons button:last-child[disabled] {
  transform: scale(1.5, 1.75) rotateY(180deg);
  filter: grayscale(80%);
}
.Buttons button:last-child[disabled] svg {
  transform: translateX(-20%);
}
.Slider {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  transform: translateX(calc(-100vw + 20px));
}
.Slider a {
  width: calc(100vw - 40px);
  height: 100%;
  transition: all 0.75s var(--TRANSITION-1);
}
.Slider a header {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1s var(--TRANSITION-1);
}
.Slider a footer h2,
.Slider a footer p {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s var(--TRANSITION-1);
}
.Slider .onView header,
.Slider .onView footer h2,
.Slider .onView footer p {
  opacity: 1;
  transform: translateY(0);
}
