.Account {
  width: 100%;
  height: 100%;
}
.Account figure:nth-child(1) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.Account figure:nth-child(1)::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  background: var(--GRADIENT);
}
.Account article {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--C3-50);
  border-radius: var(--BR-5);
}
.Account article header h1 {
  font-size: var(--MIDDLE);
  color: var(--C1);
  text-align: center;
}
.Account article header p {
  color: var(--C1-70);
  text-align: center;
}
.Account article main {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Account article main section {
  display: flex;
  align-items: center;
  gap: 20px;

  color: var(--C1);
  font-size: var(--SMALL);
  font-weight: 500;
}
.Account article main section > span {
  width: 46px;
  height: 46px;
  display: grid;
  place-items: center;
  font-size: var(--SMALL);

  background-color: var(--C2);
  border-radius: 50%;
}
.Account article footer {
  width: 100%;
}
