.Favorites {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.Favorites > h1 {
  text-align: center;
  font-weight: 500;
}
.FavoritesFilled {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start;
}
.FavoritesFilled a {
  min-height: 250px;
  max-height: 250px;
  height: 100%;
}

@media (min-width: 768px) {
  .Favorites {
    padding: 20px 120px;
  }
  .Favorites > svg {
    width: 400px;
    height: 450px;
  }
  .Favorites > h1 {
    font-size: var(--MIDDLE);
  }

  .FavoritesFilled {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .FavoritesFilled a {
    min-height: 500px;
    max-height: 500px;
  }
}
