.Favorites{
  width: 100%;
  height: 100%;
  justify-content: center;
}
.Favorites h1{
  text-align: center;
  font-weight: 500;
}
.FavoritesFilled{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
}
.FavoritesFilled article {
  width: 40vw;
  height: 250px;
}