.Login {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.Login form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ForgotPassword form h1 {
  width: 100%;
}
.Login form a,
.Login span {
  font-size: var(--SMALLY);
}
.Login form a {
  width: 100%;
  color: var(--C2);
}
.Login form > a {
  text-align: right;
}
.Login form span {
  width: 100%;
  text-align: center;
}
.Login .Error {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: var(--BAD);
}
