@keyframes Appear {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Trending {
  width: 100vw;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  animation: Appear 0.75s var(--TRANSITION-2) forwards;
}
