:root {
  /* COLOR PALETTE */
  --C1: #eeeeee;
  --C1-15: #eeeeeeb3;
  --C1-70: #eeeeeeb3;
  --C2: #8f43ee;
  --C2-A: #a171dc;
  --C2-B: #d2bbee;
  --C3: #222831;
  --C3-50: #22283180;
  --C3-80: #22283180;
  --BAD: #f15a59;
  --MEH: #f9d949;
  --GOOD: #9ae66e;

  /* LINEAR GRADIENT */
  --GRADIENT: linear-gradient(
    180deg,
    rgba(34, 40, 49, 0) 0%,
    rgba(34, 40, 49, 0.75) 90%
  );

  /* EFFECT */
  --SHADOW: 0px 2px 4px rgba(0, 0, 0, 0.25);

  /* TRANSITION */
  --TRANSITION-1: cubic-bezier(0.77, 0, 0.175, 1);
  --TRANSITION-2: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  /* TEXT */
  --SMALL: 16px;
  --MIDDLE: 26px;
  --LARGE: 36px;

  /* TEXT SMALL */
  --SMALLY: 11px;
  --MIDDLELY: 16px;
  --LARGELY: 21px;

  /* BORDER RADIUS */
  --BR-1: 4px;
  --BR-2: 6px;
  --BR-3: 8px;
  --BR-4: 10px;
  --BR-5: 12px;
  --BR-6: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-size: var(--SMALL);
  font-weight: 700;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  gap: 20px;

  color: var(--C3);
  background: var(--C1);
}

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

a {
  color: inherit;
  text-decoration: underline;
}

span {
  width: fit-content;
  height: fit-content;
}

button {
  outline: none;
  border: none;
  background-color: none;
}

input {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-weight: 700;
}

li {
  list-style: none;
}